body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

nav a.button-collapse {
  display: block !important; }

main {
  flex: 1 0 auto; }

.login h1 {
  font-size: 1.8em;
  text-align: center; }

.login a, .login button {
  width: 100%; }

.login a {
  margin: 10px 0px; }

.login hr {
  border: 0.5px solid #d3d3d3; }

.collapsible h2 {
  font-size: 16px; }

.events error.red, .events error.collapsible-header {
  color: #FFFFFF; }

.events a {
  width: 100%; }

.message {
  padding: 15px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.2em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.message.error {
  background: #EE0000; }

.message.success {
  background: #00AA00; }
